:root {
  /* Light Mode Colors */
  --blue: #0079ff;
  --white: #fefefe;
  --gray-0: #d7dcef;
  --gray-1: #969696;
  --gray-2: #697c9a;
  --gray-3: #4b6a9b;
  --gray-4: #2b3442;

  font: inherit;
  font-size: 10px;
}